/* Write your CSS code here */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'roboto';
  font-size: 22px;
  color: #12022f;
}

.description {
  font-family: 'roboto';
  font-size: 22px;
  color: #9aa5b1;
}

.pic {
  height: 85px;
  width: 85px;
}
